@page "/"

<PageTitle>Index</PageTitle>

<h1>AI Document Generator</h1>

To get started:
<ol>
    <li>Define your Word document template</li>
    <li>Upload supporting content that will be used as a source to generate the document</li>
    <li>Create your document. </li>
</ol>


